<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registrar un Nuevo Departamento</h1>
    <form method="post">{% csrf_token %}
        <h3>Datos empleado</h3>
        <p>
            {{form.nombre}}    
       
        </p>
        <p>
            {{form.apellido}}    
       
        </p>

        <h3>Datos del Departamento</h3>
        <p>
            {{form.departamento}}    
       
        </p>

        
        <p>
            {{form.shorname}}    
       
        </p>
        
        <button type="submit">Guardar</button>
    </form>
</body>
</html>