{% extends 'base.html' %}

{% block titulo %}
    Eliminar Empleado
{% endblock titulo %}


{% block content %}
    {% include 'include/header.html' %}
    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Eliminar Empleado {{ object.first_name}}</h1>
            <form class="cell" method="post"> {% csrf_token %}
                <div class="callout secondary">
                    <h5>¿Desea Eliminar este Empleado?</h5>
                    <button type="submit" class="alert button">confirmar</button>
                  </div>
                
            </form>

        </div>
    </div>
{% endblock content %}
    
    
    